@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&display=swap");
body {
  min-height: 100vh;
  background-color: #F8F8F8;
  font-family: 'Palanquin', 'Open Sans', Helvetica, sans-serif;
  color: #26203A;
}

@media screen and (max-width: 420px) {
  body {
    font-size: 0.8rem;
  }
}

header {
  background-color: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

h1 {
  font-weight: bold;
  font-size: 8em;
}

h2 {
  font-weight: bold;
  font-size: 4em;
  margin-top: 1.5em;
}

p {
  line-height: 1.4;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 0;
}

.hero .hero__logo {
  display: block;
  width: 12rem;
  margin-right: 8%;
  min-width: 0;
}

.hero .hero__text-group {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 0;
}

.hero .hero__heading {
  margin-left: -0.05em;
  margin-bottom: 0.2em;
}

.hero .hero__heading {
  font-size: 28px;
}

@media screen and (min-width: 200px) {
  .hero .hero__heading {
    font-size: calc(28px + 100 * ((100vw - 200px) / 620));
  }
}

@media screen and (min-width: 820px) {
  .hero .hero__heading {
    font-size: 128px;
  }
}

.hero .hero__subheading {
  font-size: 8px;
}

@media screen and (min-width: 200px) {
  .hero .hero__subheading {
    font-size: calc(8px + 28 * ((100vw - 200px) / 620));
  }
}

@media screen and (min-width: 820px) {
  .hero .hero__subheading {
    font-size: 36px;
  }
}

.trailer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-top: 5vh;
  background-color: #26203A;
  border-radius: 3px;
}

.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

@-webkit-keyframes fruit-wave {
  from {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  to {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@keyframes fruit-wave {
  from {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  to {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

.trailer .trailer__orange, .trailer .trailer__banana {
  position: absolute;
  z-index: -1;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.trailer .trailer__orange::before, .trailer .trailer__banana::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: fruit-wave 10s ease-in-out infinite alternate;
          animation: fruit-wave 10s ease-in-out infinite alternate;
}

.trailer .trailer__orange {
  width: 12.5%;
  padding-bottom: 12.5%;
}

.trailer .trailer__orange::before {
  background-image: url("../res/svg/orange.svg");
}

.trailer .trailer__orange:nth-of-type(1) {
  left: -9%;
  top: 15%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.trailer .trailer__orange:nth-of-type(2) {
  right: -7.5%;
  bottom: 15%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.trailer .trailer__orange:nth-of-type(2)::before {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.trailer .trailer__banana {
  width: 9.375%;
  padding-bottom: 9.375%;
}

.trailer .trailer__banana::before {
  background-image: url("../res/svg/banana.svg");
}

.trailer .trailer__banana:nth-of-type(3) {
  left: -13%;
  bottom: 10%;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.trailer .trailer__banana:nth-of-type(3)::before {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.trailer .trailer__banana:nth-of-type(4) {
  right: -12%;
  top: 15%;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.trailer .trailer__banana:nth-of-type(4)::before {
  -webkit-animation-delay: -7.5s;
          animation-delay: -7.5s;
}

.trailer:hover .trailer__orange,
.trailer:hover .trailer__banana {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.servers {
  margin-top: 2em;
}

.servers .servers__server {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 18px 3%;
  font-size: 1.5em;
  color: #FFFFFF;
  background-color: #26203A;
  border-radius: 3px;
  border-right: 8px solid transparent;
  -webkit-transition: border-right 400ms ease;
  transition: border-right 400ms ease;
}

.servers .servers__server.online {
  border-right: 8px solid #27AE60;
}

.servers .servers__server.offline {
  border-right: 8px solid #E65755;
}

.servers .servers__server + .servers__server {
  margin-top: 12px;
}

.servers .servers__name {
  font-weight: bold;
}

.servers .servers__map::before,
.servers .servers__players::before,
.servers .servers__status::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.333em;
  height: 1.333em;
  -webkit-margin-end: 0.4em;
          margin-inline-end: 0.4em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.servers .servers__map::before {
  background-image: url("../res/svg/map.svg");
}

.servers .servers__players::before {
  background-image: url("../res/svg/players.svg");
}

.servers .online .servers__status::before {
  background-image: url("../res/svg/online.svg");
}

.servers .offline .servers__status::before {
  background-image: url("../res/svg/offline.svg");
}

.servers .servers__map,
.servers .servers__players,
.servers .servers__status {
  opacity: 0;
  -webkit-transition: opacity 800ms ease;
  transition: opacity 800ms ease;
}

.servers .synced .servers__map,
.servers .synced .servers__players,
.servers .synced .servers__status {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */