@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap");
::-moz-selection {
  background-color: #6190FF;
  color: #FFFFFF;
}
::selection {
  background-color: #6190FF;
  color: #FFFFFF;
}

.precache {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

body {
  min-height: 100vh;
  background-color: #F8F8F8;
  font-family: "Palanquin", "Open Sans", Helvetica, sans-serif;
  color: #26203A;
  font-size: 0.75rem;
}

@media screen and (min-width: 560px) {
  body {
    font-size: 1rem;
  }
}

header {
  background-color: #FFFFFF;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

h1 {
  font-weight: bold;
  font-size: 8em;
}

h2 {
  font-weight: bold;
  font-size: 4em;
  margin-top: 1.5em;
}

h3 {
  font-weight: normal;
  font-size: 3em;
  margin-top: 1.5em;
}

h2 + h3 {
  margin-top: 0.5em;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 1em;
}

p {
  line-height: 1.5;
}

p + p {
  margin-top: 1em;
}

kbd {
  color: #FFFFFF;
  background-color: #342D4A;
  border-radius: 0.2em;
  padding: 0.2em 0.3em;
  font-family: "Fira Mono", "Consolas", monospace;
  font-size: 0.75em;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 0;
}

.hero .hero__logo {
  display: block;
  width: 12rem;
  margin-right: 8%;
  min-width: 0;
}

.hero .hero__text-group {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 0;
}

.hero .hero__heading {
  margin-left: -0.05em;
  margin-bottom: 0.2em;
}

.hero .hero__heading {
  font-size: 28px;
}

@media screen and (min-width: 200px) {
  .hero .hero__heading {
    font-size: calc(28px + 100 * ((100vw - 200px) / 620));
  }
}

@media screen and (min-width: 820px) {
  .hero .hero__heading {
    font-size: 128px;
  }
}

.hero .hero__subheading {
  font-size: 8px;
}

@media screen and (min-width: 200px) {
  .hero .hero__subheading {
    font-size: calc(8px + 28 * ((100vw - 200px) / 620));
  }
}

@media screen and (min-width: 820px) {
  .hero .hero__subheading {
    font-size: 36px;
  }
}

.trailer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  margin-top: 5vh;
  background-color: #26203A;
  border-radius: 3px;
}

.trailer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

@-webkit-keyframes fruit-wave {
  from {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  to {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

@keyframes fruit-wave {
  from {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
  to {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
}

.trailer .trailer__orange, .trailer .trailer__banana {
  position: absolute;
  z-index: -1;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.trailer .trailer__orange::before, .trailer .trailer__banana::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: fruit-wave 10s ease-in-out infinite alternate;
          animation: fruit-wave 10s ease-in-out infinite alternate;
}

.trailer .trailer__orange {
  width: 12.5%;
  padding-bottom: 12.5%;
}

.trailer .trailer__orange::before {
  background-image: url("../res/svg/orange.svg");
}

.trailer .trailer__orange:nth-of-type(1) {
  left: -9%;
  top: 15%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.trailer .trailer__orange:nth-of-type(2) {
  right: -7.5%;
  bottom: 15%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.trailer .trailer__orange:nth-of-type(2)::before {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.trailer .trailer__banana {
  width: 9.375%;
  padding-bottom: 9.375%;
}

.trailer .trailer__banana::before {
  background-image: url("../res/svg/banana.svg");
}

.trailer .trailer__banana:nth-of-type(3) {
  left: -13%;
  bottom: 10%;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.trailer .trailer__banana:nth-of-type(3)::before {
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}

.trailer .trailer__banana:nth-of-type(4) {
  right: -12%;
  top: 15%;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.trailer .trailer__banana:nth-of-type(4)::before {
  -webkit-animation-delay: -7.5s;
          animation-delay: -7.5s;
}

.trailer:hover .trailer__orange,
.trailer:hover .trailer__banana {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.servers {
  margin-top: 2rem;
}

.servers .servers__server {
  font-size: 1.5em;
}

.servers .servers__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 10px 3%;
  color: #FFFFFF;
  background-color: #26203A;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
  border-right: 8px solid transparent;
  -webkit-transition: border-right-color 400ms ease;
  transition: border-right-color 400ms ease;
}

@media screen and (min-width: 560px) {
  .servers .servers__main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    white-space: normal;
  }
}

.servers .servers__main:hover, .servers .servers__main:focus {
  background-color: #342D4A;
}

.servers .online .servers__main {
  border-right-color: #27AE60;
}

.servers .offline .servers__main {
  border-right-color: #E65755;
}

.servers .servers__server + .servers__server {
  margin-top: 12px;
}

.servers .servers__map::before,
.servers .servers__players::before,
.servers .servers__status::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.333em;
  height: 1.333em;
  -webkit-margin-end: 0.4em;
          margin-inline-end: 0.4em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.servers .servers__map::before {
  background-image: url("../res/svg/map.svg");
}

.servers .servers__players::before {
  background-image: url("../res/svg/players.svg");
}

.servers .online .servers__status::before {
  background-image: url("../res/svg/online.svg");
}

.servers .offline .servers__status::before {
  background-image: url("../res/svg/offline.svg");
}

.servers .expanded.online .servers__status::before {
  background-image: url("../res/svg/online-w.svg");
}

.servers .expanded.offline .servers__status::before {
  background-image: url("../res/svg/offline-w.svg");
}

.servers .servers__name,
.servers .servers__map,
.servers .servers__players,
.servers .servers__status {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 560px) {
  .servers .servers__name,
  .servers .servers__map,
  .servers .servers__players,
  .servers .servers__status {
    width: auto;
    text-align: center;
  }
}

.servers .servers__map,
.servers .servers__players,
.servers .servers__status {
  margin-top: 0.5em;
  opacity: 0;
  -webkit-transition: opacity 800ms ease;
  transition: opacity 800ms ease;
}

@media screen and (min-width: 560px) {
  .servers .servers__map,
  .servers .servers__players,
  .servers .servers__status {
    margin-top: 0;
  }
}

.servers .synced .servers__map,
.servers .synced .servers__players,
.servers .synced .servers__status {
  opacity: 1;
}

.servers .servers__name {
  -webkit-margin-end: 1.5em;
          margin-inline-end: 1.5em;
  font-weight: bold;
}

@media screen and (min-width: 560px) {
  .servers .servers__name {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .servers .servers__map {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .servers .servers__players,
  .servers .servers__status {
    -webkit-margin-start: 10%;
            margin-inline-start: 10%;
  }
  .servers .servers__map::before,
  .servers .servers__players::before,
  .servers .servers__status::before {
    -webkit-margin-start: 0.4em;
            margin-inline-start: 0.4em;
  }
}

.servers .servers__expand {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #6190FF;
  border-radius: 0 0 3px 3px;
  display: none;
}

.servers .expanded .servers__main {
  background-color: #6190FF;
  border-radius: 3px 3px 0 0;
  border-right-width: 0;
  padding-right: calc(3% + 8px);
}

.servers .expanded .servers__expand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.servers .servers__joinbtn,
.servers .servers__ipbtn {
  cursor: pointer;
}

.servers .servers__joinbtn:hover, .servers .servers__joinbtn:focus,
.servers .servers__ipbtn:hover,
.servers .servers__ipbtn:focus {
  background-color: #F8F8F8;
}

.servers .servers__joinbtn,
.servers .servers__ip {
  margin: 8px;
  border-radius: 3px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 560px) {
  .servers .servers__joinbtn,
  .servers .servers__ip {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.servers .servers__joinbtn {
  display: block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #6190FF;
  background-color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.servers .servers__ip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #26203A;
}

.servers .servers__iptext {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #FFFFFF;
  font-family: "Fira Mono", "Consolas", monospace;
  font-weight: bold;
  font-size: 0.666em;
  padding: 1em 2em;
  text-align: center;
}

.servers .servers__ipbtn {
  position: relative;
  display: block;
  width: 2em;
  height: 100%;
  background-color: #FFFFFF;
  border-radius: 0 3px 3px 0;
}

.servers .servers__ipbtn::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../res/svg/copy.svg");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: center;
}

.servers .servers__ipbtn.clicked::before {
  background-image: url("../res/svg/copy-success.svg");
}

.txt-img-headline {
  margin-top: 0;
  margin-bottom: 1rem;
}

.txt-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 6em;
}

.txt-img .txt-img__img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.txt-img .txt-img__text-group p {
  font-size: 1.5em;
}

@media screen and (min-width: 560px) {
  .txt-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .txt-img .txt-img__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-right: 1rem;
  }
  .txt-img .txt-img__text-group {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding-left: 1rem;
    margin-top: -0.6em;
  }
  .txt-img.txt-img--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .txt-img.txt-img--reverse .txt-img__img {
    padding-right: 0;
    padding-left: 1rem;
  }
  .txt-img.txt-img--reverse .txt-img__text-group {
    padding-left: 0;
    padding-right: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */