$fontMain: 'Palanquin', 'Open Sans', Helvetica, sans-serif;
$fontMonospace: 'Fira Mono', 'Consolas', monospace;

$contentWidth: 1200px;
$borderRadius: 3px;

:root {
  --colPrimary: #26203A;
  --colPrimaryL1: #342D4A;
  --colSecondary: #F8F8F8;
  --colSecondaryL1: #FFFFFF;
  --colAccent: #6190FF;
  --colSuccess: #27AE60;
  --colError: #E65755;
  --colText: var(----colPrimary);

  @media (prefers-color-scheme: dark) {
    --colPrimary: #F8F8F8;
    --colPrimaryL1: #FFFFFF;
    --colSecondary: #26203A;
    --colSecondaryL1: #342D4A;
    --colAccent: #6190FF;
    --colSuccess: #27AE60;
    --colError: #E65755;
    --colText: #FFF0CA;
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin query-tablet-portrait-up {
  @media screen and (min-width: 560px) { @content; }
}

@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&display=swap');

::selection {
  background-color: var(--colAccent);
  color: var(--colSecondaryL1);
}

.precache {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

body {
  min-height: 100vh;
  background-color: var(--colSecondary);
  font-family: $fontMain;
  color: var(--colText);

  font-size: 0.75rem;
  @include query-tablet-portrait-up {
    font-size: 1rem;
  }
}

header {
  background-color: var(--colSecondaryL1);
}

.container {
  max-width: $contentWidth;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
}

h1 {
  font-weight: bold;
  font-size: (128 / 16 * 1em);
}

h2 {
  font-weight: bold;
  font-size: (64 / 16 * 1em);
  margin-top: 1.5em;
}

h3 {
  font-weight: normal;
  font-size: (48 / 16 * 1em);
  margin-top: 1.5em;
}

h2 + h3 {
  margin-top: 0.5em;
}

h4 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: (24 / 16 * 1em);
  margin-top: 1em;
}

p {
  line-height: 1.5;
}

p + p {
  margin-top: 1em;
}

kbd {
  color: var(--colSecondaryL1);
  background-color: var(--colPrimaryL1);
  border-radius: 0.2em;
  padding: 0.2em 0.3em;
  font-family: $fontMonospace;
  font-size: (12 / 16 * 1em);
}

.remark {
  text-decoration: underline var(--colPrimary) dotted 2px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 0;

  .hero__logo {
    display: block;
    width: 12rem;
    margin-right: 8%;
    min-width: 0;
  }

  .hero__text-group {
    flex-shrink: 0;
    min-width: 0; // allows text inside to wrap
  }

  .hero__heading {
    margin-left: -0.05em; // magic number to align with subheadline
    margin-bottom: 0.2em;
    @include fluid-type(200px, ($contentWidth - 380px), 28px, 128px);
  }

  .hero__subheading {
    @include fluid-type(200px, ($contentWidth - 380px), 8px, 36px);
  }
}

.trailer {
  position: relative;
  width: 100%;
  padding-bottom: (9% / 16 * 100);
  margin-top: 5vh;
  background-color: var(--colPrimary);
  border-radius: $borderRadius;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $borderRadius;
  }

  @keyframes fruit-wave {
    from { transform: translateY(40%); }
    to { transform: translateY(-40%); }
  }

  .trailer__orange, .trailer__banana {
    position: absolute;
    z-index: -1;
    transition: transform 1s ease;

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;

      animation: fruit-wave 10s ease-in-out infinite alternate;
    }
  }

  .trailer__orange {
    width: 12.5%;
    padding-bottom: 12.5%;

    &::before {
      background-image: url('../res/svg/orange.svg');
    }

    &:nth-of-type(1) {
      left: -9%;
      top: 15%;
      transform: translateX(100%);
    }
    &:nth-of-type(2) {
      right: -7.5%;
      bottom: 15%;
      transform: translateX(-100%);

      &::before { animation-delay: -5s; }
    }
  }

  .trailer__banana {
    width: 9.375%;
    padding-bottom: 9.375%;

    &::before {
      background-image: url('../res/svg/banana.svg');
    }

    &:nth-of-type(3) {
      left: -13%;
      bottom: 10%;
      transform: translateX(200%);

      &::before { animation-delay: -2.5s; }
    }
    &:nth-of-type(4) {
      right: -12%;
      top: 15%;
      transform: translateX(-200%);

      &::before { animation-delay: -7.5s; }
    }
  }

  &:hover .trailer__orange,
  &:hover .trailer__banana {
    transform: translateX(0);
  }
}

.servers {
  margin-top: 2rem;

  .servers__server {
    font-size: (24 / 16 * 1em);
  }

  .servers__main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px 3%;
    color: var(--colSecondaryL1);
    background-color: var(--colPrimary);
    border-radius: $borderRadius;
    white-space: nowrap;
    cursor: pointer;

    @include query-tablet-portrait-up {
      flex-direction: row;
      align-items: center;
      white-space: normal;
    }

    &:hover,
    &:focus {
      background-color: var(--colPrimaryL1);
    }

    border-right: 8px solid transparent;
    transition: border-right-color 400ms ease;
  }
  .online .servers__main {
    border-right-color: var(--colSuccess);
  }
  .offline .servers__main {
    border-right-color: var(--colError);
  }

  .servers__server + .servers__server {
    margin-top: 12px;
  }

  .servers__map::before,
  .servers__players::before,
  .servers__status::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1.333em;
    height: 1.333em;
    margin-inline-end: 0.4em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .servers__map::before {
    background-image: url('../res/svg/map.svg');
  }
  .servers__players::before {
    background-image: url('../res/svg/players.svg');
  }
  .online .servers__status::before {
    background-image: url('../res/svg/online.svg');
  }
  .offline .servers__status::before {
    background-image: url('../res/svg/offline.svg');
  }
  .expanded.online .servers__status::before {
    background-image: url('../res/svg/online-w.svg');
  }
  .expanded.offline .servers__status::before {
    background-image: url('../res/svg/offline-w.svg');
  }

  @media (prefers-color-scheme: dark) {
    .servers__server:not(.expanded) {
      .servers__map::before { background-image: url('../res/svg/map-dark.svg'); }
      .servers__players::before { background-image: url('../res/svg/players-dark.svg'); }
    }

    .servers__server.expanded .servers__main {
      color: var(--colPrimaryL1);
    }
  }

  .servers__name,
  .servers__map,
  .servers__players,
  .servers__status {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;

    @include query-tablet-portrait-up {
      width: auto;
      text-align: center;
    }
  }

  .servers__map,
  .servers__players,
  .servers__status {
    margin-top: 0.5em;

    opacity: 0;
    transition: opacity 800ms ease;
    @include query-tablet-portrait-up {
      margin-top: 0;
    }
  }

  .synced .servers__map,
  .synced .servers__players,
  .synced .servers__status {
    opacity: 1;
  }

  .servers__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0.65;
    transition: opacity 800ms ease,
                visibility 0ms linear 800ms;
  }
  .synced .servers__loading {
    opacity: 0;
    visibility: hidden;
  }

  .servers__name {
    margin-inline-end: 1.5em;
    font-weight: bold;
  }

  @include query-tablet-portrait-up {
    .servers__name {
      flex-shrink: 0;
    }
    .servers__map {
      flex-grow: 1;
    }
    .servers__players,
    .servers__status {
      margin-inline-start: 10%;
    }

    .servers__map::before,
    .servers__players::before,
    .servers__status::before {
      margin-inline-start: 0.4em;
    }
  }

  .servers__expand {
    justify-content: flex-end;
    flex-wrap: wrap;
    background-color: var(--colAccent);
    border-radius: 0 0 $borderRadius $borderRadius;

    display: none; //flex
  }

  .expanded {
    .servers__main {
      background-color: var(--colAccent);
      border-radius: $borderRadius $borderRadius 0 0;
      border-right-width: 0;
      padding-right: calc(3% + 8px);
    }

    .servers__expand {
      display: flex;
    }
  }

  .servers__joinbtn,
  .servers__ipbtn {
    cursor: pointer;
    &:hover,
    &:focus {
      background-color: var(--colSecondary);
    }
  }

  .servers__joinbtn,
  .servers__ip {
    margin: 8px;
    border-radius: $borderRadius;

    flex-grow: 1;
    @include query-tablet-portrait-up {
      flex-grow: 0;
    }
  }

  .servers__joinbtn {
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: var(--colAccent);
    background-color: var(--colSecondaryL1);
    font-weight: bold;
    text-align: center;
  }

  .servers__ip {
    display: flex;
    align-items: center;
    background-color: var(--colPrimary);
  }

  .servers__iptext {
    flex-grow: 1;
    color: var(--colSecondaryL1);
    font-family: $fontMonospace;
    font-weight: bold;
    font-size: 0.666em;
    padding: 1em 2em;
    text-align: center;
  }

  .servers__ipbtn {
    position: relative;
    display: block;
    width: 2em;
    height: 100%;
    background-color: var(--colSecondaryL1);
    border-radius: 0 $borderRadius $borderRadius 0;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url('../res/svg/copy.svg');
      background-repeat: no-repeat;
      background-size: 1em 1em;
      background-position: center;
    }
  }

  .servers__ipbtn.clicked::before {
    background-image: url('../res/svg/copy-success.svg');
  }
}

.txt-img-headline {
  margin-top: 0;
  margin-bottom: 1rem;
}

.txt-img {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 6em;

  .txt-img__img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .txt-img__text-group {
    p { font-size: (24 / 16 * 1em); }
  }

  @include query-tablet-portrait-up() {
    flex-direction: row;

    .txt-img__img {
      flex: 1 0 0;
      margin-right: 1rem;
      border-radius: $borderRadius;
    }
    .txt-img__text-group {
      flex: 1 0 0;
      margin-left: 1rem;
      margin-top: -0.6em; // magic number to align with video
    }

    &.txt-img--reverse {
      flex-direction: row-reverse;

      .txt-img__img { margin-right: 0; margin-left: 1rem; }
      .txt-img__text-group { margin-left: 0; margin-right: 1rem; }
    }
  }
}
